body {
	background-color: #EED3B1;
	font-family: "Chango", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.row {
  	font-weight: 150;
  	font-style: normal;
}

.container1 {
	background-color: #E91E63;
	margin-left:7%;
	margin-right: 7%;
	padding: 30px;
	margin-bottom:5%;
	color: white;
}

#Homepage {
	background: url(https://i.pinimg.com/736x/78/df/f0/78dff0e531c2673da11e896ead639023.jpg);
  	background-repeat: repeat;
  	background-size: auto;
    font-size: 30px;
  	padding: 100px;
    color: white;
    min-height: 3vh;
    text-align: center;
    font-family: "Chango", sans-serif;
}

h4 { 
    text-align: center;
    color: #E91E63;
    font-size: 30px;
}

.WIR {
    background-color: #CA7373;   
    text-align: center;
    padding: 5px; 
    color: white;           
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: none;
}

h1 {
	font-family: "DynaPuff", system-ui;
 	font-weight: 400;
 	font-style: normal;
 	text-align: center;
 	font-size: 50px;
 	color: white;
 	font-family: "Chango", sans-serif;
}

.PRP {
	color: white;
}

h6 {
	text-align: center;
	color: white;
}

.btn-pink {
    background-color: #E91E63;
    color: white;
    font-weight: bold;
}

h2 {
    color: #E91E63;
}

.container-fluid {
	color: #E91E63 ;
}

.navbar {
	background-color: #E91E63;
}

.nav-link {
	color: white;
}

.container {
    padding: 40px 20px;
}

.WIR-image {
	max-width: 100%;
    border-radius: 15px;
}
